<%= form_for @feed do |f| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "件") %>のエラーがあります。</h2>
      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= f.label :title, t('view.title'), id: "title" %>
    <%= f.text_field :title, id: "title", class:"form-control" %>
  </div>
  <div class = "form-group">
  <%= f.label :content, t('view.content'), id: "content" %>
  <%= f.text_field :content, id: "content", class:"form-control" %>
  </div>

  <hr>
  ISBNなどキーワード<br>
  <input type="text" id="search_area">
  <button type="button" id="search_button">検索</button>

  <br><br>
  <ul></ul>

  <%= f.text_field :code, id: "code", class:"form-control" %>
  <%= f.hidden_field :isbn, id: "isbn", class:"form-control" %>
  <br><br>
  <%= f.submit '送信する', type: 'button', onclick: 'submit();' %>
  <br><br>
<% end %>