<%= form_for @feed do |f| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "件") %>のエラーがあります。</h2>
      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class = "form-group row">
    <div class="col-sm-12">
    <%= f.label :content, "記事内容" %>
      <%= f.text_field :title, id: "title", placeholder: "タイトル　※1〜50文字", class:"form-control", minlength:1, maxlength:50 %>
    </div><p></p>
    <div class="col-sm-12">
      <%= f.text_area :content, id: "content", placeholder: "本文　※1〜200文字", size: "100x3", class:"form-control", minlength:1, maxlength:200  %>
    </div>
  </div>

  <hr>
  <div class = "form-group row">
    <div class="col-sm-3">
      <%= f.label :search, "ISBN（13桁の数字）などキーワード" %>
      <input type="text" id="search_area">
      <button type="button" id="search_button">検索</button>
    </div>
    <div class="col-sm-9">
      <ul><%= feed.code.try(:html_safe) %></ul>
    </div>
  </div>

  <%= f.text_area :code, id: "code", placeholder: "検索にヒットがあれば、htmlコードがここに出ます", size: "100x2", class:"form-control" %>
  <%= f.hidden_field :isbn, id: "isbn" %>
  <br>
  <%= f.submit '送信する', type: 'button', onclick: 'submit();', class:"btn btn-outline-dark" %>
<% end %>
<br><br>
<br><br>
<br><br>