<div class="row">
  <div class="col-12">
  <h2>おすすめ一覧</h2>
  <br>

    <div class="content">
      <%= search_form_for(@q, url:root_path, class: 'mb-5') do |f| %>
        <div class="form-group">
          <%= f.label :title, t('view.title'), id: "s_title" %>
          <%= f.search_field :title_cont, id: "s_title" %>
          <%= f.submit '検索', class:"btn btn-dark", name:nil %>
        </div>
      <% end %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th><%= sort_link(@q, :title, "タイトル") %></th>
          <th><%= sort_link(@q, :content, "本文") %></th>
          <th><%= sort_link(@q, :updated_at, "最終更新") %></th>
        </tr>
      </thead>

      <tbody>
        <% @feeds.each do |feed| %>
          <tr>
            <td width="150"><%= image_tag "/icon/#{feed.user_id}.svg", :size =>'30x30' %>　<%= feed.user.name %></td>
            <td width="300"><%= link_to feed.title, feed %></td>
            <td><%= feed.content %></td>
            <td align="right" width="100"><%= time_ago_in_words(feed.updated_at) %></td>
            <td align="right" width="100"><%= link_to "編集", edit_feed_path(feed) %>
            <%= link_to "削除", feed, method: :delete, data: { confirm: '削除しますか？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @feeds %>
    <br>
    </div>
  </div>
</div>
