<div class="float-right">
<% if current_user == @feed.user %>
<%= link_to "投稿編集", edit_feed_path(@feed), class: 'btn btn-dark' %>
<% end %>
</div>
<p></p>
<p>
  <strong><%= t('view.user') %>:</strong>
  <%= @feed.user.name %><br>
  <strong><%= t('view.title') %>:</strong>
  <%= @feed.title %><br>
  <strong><%= t('view.content') %>:</strong>
  <%= @feed.content %><br>
  <%= @feed.isbn %><br>
  <%= @feed.code.html_safe %><br>

</p>
<hr>

<% if current_user != @feed.user && current_user.already_favorited?(@feed) %>
  <%= link_to "☆#{@feed.favorites.count}", feed_favorite_path(@feed), method: :delete %>
<% elsif current_user != @feed.user %>
  <%= link_to "★#{@feed.favorites.count}", feed_favorites_path(@feed), method: :post %>
<% else  %>
☆<%= @feed.favorites.count %>
<% end %>

<hr>
<h4>コメント一覧</h4>
<% @feed.comments.each do |comment| %>
  <p><%= comment.user.name %>：<%= comment.content %></p>
  <p><%= link_to '削除',feed_comment_path(@feed,comment),
  method: :delete,data: {confirm:'削除してもよろしいですか？'}%></p>
<% end %>

<%= form_for [@feed, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>
