<div class="float-right">
<% if current_user == @feed.user %>
<%= link_to t('view.edit_feed'), edit_feed_path(@feed), class: 'btn btn-dark' %>
<% end %>
</div>
<p></p>
<p>
  <%= image_tag "/icon/#{@feed.user_id}.svg", :size =>'30x30' %>
  <%= @feed.user.name %><br>
  <h5 class="popover-title">
  <%= @feed.title %></h5>
  <div class="popover-content">
  <%= @feed.content %></div>
  <hr>
  <%= @feed.code.html_safe %><br>
</p>
<hr>
<% if user_signed_in? %>
  <% if current_user != @feed.user && current_user.already_favorited?(@feed) %>
    <%= link_to "☆#{@feed.favorites.count}", feed_favorite_path(@feed), method: :delete %>
    <% elsif current_user != @feed.user %>
    <%= link_to "★#{@feed.favorites.count}", feed_favorites_path(@feed), method: :post %>
    <% else  %>
    ☆<%= @feed.favorites.count %>
    <% end %>
  <% else  %>
  ☆<%= @feed.favorites.count %>
<% end %>

<hr>
<h6>コメント一覧</h6>
<p></p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, feed_path: @feed_path } %>
</div>
<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { comment: @comment, feed_path: @feed_path } %>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

