<!DOCTYPE html>
<html>
  <head>
    <title>iHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p></p>　

    <%= link_to "投稿一覧", feeds_path, class: 'btn btn-primary' %>
    <% if user_signed_in? %>　
      <%= link_to "新規投稿", new_feed_path, class: 'btn btn-success' %>

      <div class="float-right">
        <%= link_to "マイページ", user_path(current_user.id), class: 'btn btn-info' %>　
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>　　
      </div>
      <% else %>　
        <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-info' %>　
        <%= link_to "ログイン", new_user_session_path %>　　
    <% end %>

    <hr>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
